svg{
    animation : rubberband 500ms alternate ease-out;
    transform-origin: bottom center;
}


@keyframes rubberband {
    0%{
        transform: scaleX(1);
    }
    20%{
        transform: scaleX(1.1) scaleY(0.9);
    }
    30%{
        transform: scaleX(0.9) scaleY(1.1);
    }
    40%{
        transform: scaleX(0.95) scaleY(1.05);
    }
    100%{
        transform: scaleX(1) scaleY(1);
    }
}